{{- $email          := "" -}}

{{- if (hasKey . "email") -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

[data]
    email           = {{ $email | quote }}
    gpg_signingkey  = {{ $gpg_signingkey | quote }}
