{
  "proseWrap": "always",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "printWidth": 200,
        "proseWrap": "preserve"
      }
    }
  ]
}
