{{- $email := "" -}}
{{- $isWork := false -}}

{{- if (hasKey . "email") -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- if (hasKey . "isWork") -}}
{{-   $isWork = .isWork -}}
{{- else -}}
{{-   $isWork = promptBool "isWork" -}}
{{- end -}}

[data]
email = {{ $email | quote }}
isWork = {{ $isWork }}
