[data]
primaryEmail = {{ promptString "Enter your primary email*: " | quote }}
primaryPublicSshKey = {{ promptString "Enter your primary public SSH key*: " | quote }}
secondaryEmail = {{ promptString "Enter your secondary email (leave blank if not applicable): " | quote }}
secondaryPublicSshKey = {{ promptString "Enter your secondary public SSH key (leave blank if not applicable): " | quote }}
isWork = {{ promptBool "Is this a work machine? y/N" }}
pgpCacheTtl = {{ promptString "Select Cache TTL for PGP config in sec:" "600" | quote -}}

