bun https://github.com/cometkim/asdf-bun.git
golang https://github.com/kapral18/asdf-golang.git
java https://github.com/halcyon/asdf-java.git
nodejs https://github.com/asdf-vm/asdf-nodejs.git
ruby https://github.com/asdf-vm/asdf-ruby.git
rust https://github.com/code-lever/asdf-rust.git
vault https://github.com/asdf-community/asdf-hashicorp.git
yarn https://github.com/twuni/asdf-yarn.git
{{ if ne .isWork true -}}
lua https://github.com/Stratus3D/asdf-lua.git
{{ end -}}
