tap "bensadeh/circumflex"
tap "candid82/brew"
tap "charmbracelet/tap"
tap "cloudflare/cloudflare"
tap "eddieantonio/eddieantonio"
tap "gjbae1212/gossm"
tap "homebrew/bundle"
tap "homebrew/services"
tap "ilijamt/tap"
tap "kaplanelad/tap"
tap "mongodb/brew"
tap "noahgorstein/tap"
tap "nutcracker/tap"
tap "owasp-amass/amass"
tap "piqoni/cast-text"
tap "potatolabs/git-redate"
tap "rcmdnk/file"
tap "rs/tap"
tap "saulpw/vd"
tap "sstadick/hck"
tap "yqrashawn/goku"

brew "adwaita-icon-theme"
brew "aria2"
brew "asciinema"
brew "asdf"
brew "automake"
brew "bash"
brew "bat"
brew "bensadeh/circumflex/circumflex"
brew "bfg"
brew "broot"
brew "btop"
brew "cast-text"
brew "chafa"
brew "chatblade"
brew "choose-rust"
brew "cmake"
brew "composer"
brew "coreutils"
brew "cpulimit"
brew "diskonaut"
brew "djvu2pdf"
brew "dust"
brew "duti"
brew "eddieantonio/eddieantonio/imgcat"
brew "exiftool"
brew "fd"
brew "fdupes"
brew "figlet"
brew "fileicon"
brew "findutils"
brew "fish"
brew "flamegraph"
brew "fop"
brew "fx"
brew "fzf"
brew "gawk"
brew "gh"
brew "git"
brew "git-absorb"
brew "git-cal"
brew "git-delta"
brew "git-extras"
brew "git-lfs"
brew "git-number"
brew "git-quick-stats"
brew "git-sizer"
brew "git-tools"
brew "git-url-sub"
brew "git-when-merged"
brew "git-xargs"
brew "gitleaks"
brew "glow"
brew "gnu-sed"
brew "gpgme"
brew "gping"
brew "graphicsmagick"
brew "gum"
brew "hexyl"
brew "httpie"
brew "hyperfine"
brew "ijq"
brew "imagemagick"
brew "jc"
brew "jless"
brew "jq"
brew "lazydocker"
brew "lazygit"
brew "libxslt"
brew "lima"
brew "lsd"
brew "magic-wormhole"
brew "mpv"
brew "navi"
brew "ncdu"
brew "neovim"
brew "netcat"
brew "newsboat"
brew "nmap"
brew "noahgorstein/tap/jqp"
brew "nushell"
brew "openssl"
brew "owasp-amass/amass/amass"
brew "pandoc"
brew "parallel"
brew "pass"
brew "potatolabs/git-redate/git-redate"
brew "presenterm"
brew "proselint"
brew "pup"
brew "ripgrep-all"
brew "rlwrap"
brew "rm-improved"
brew "sd"
brew "shellcheck"
brew "shfmt"
brew "sniffnet"
brew "sox"
brew "sstadick/hck/hck"
brew "starship"
brew "tcl-tk"
brew "tealdeer"
brew "tig"
brew "tmux"
brew "tokei"
brew "topgrade"
brew "tree"
brew "trippy"
brew "trufflehog"
brew "vhs"
brew "w3m"
brew "watch"
brew "watchexec"
brew "webp-pixbuf-loader"
brew "wget"
brew "write-good"
brew "wush"
brew "wxwidgets"
brew "yamllint"
brew "yazi"
brew "yq"
brew "yqrashawn/goku/goku"
brew "yt-dlp"
brew "zoxide"

cask "1password-cli"
cask "alfred"
cask "appcleaner"
cask "blockblock"
cask "bruno"
cask "dangerzone"
cask "docker"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-hack-nerd-font"
cask "font-jetbrains-mono-nerd-font"
cask "font-symbols-only-nerd-font"
cask "ghostty"
cask "google-cloud-sdk"
cask "grandperspective"
cask "hammerspoon"
cask "karabiner-elements"
cask "keyclu"
cask "kitty"
cask "knockknock"
cask "lulu"
cask "ollama"
cask "oversight"
cask "ransomwhere"
cask "rectangle"
cask "reikey"
cask "shottr"
cask "sloth"
cask "warp"
cask "wezterm"
{{ if ne .isWork true -}}
cask "arc"
cask "anydesk"
cask "bartender"
cask "brave-browser"
cask "chromedriver"
cask "discord"
cask "google-chrome"
cask "google-drive"
cask "mullvadvpn"
cask "raindropio"
cask "remember-the-milk"
cask "slack"
cask "telegram"
cask "vlc"
cask "wezterm"
cask "whatsapp"
{{ end -}}
