# Description: Terminal visual effects engine for animated text
# URL: https://github.com/ChrisBuilds/terminaltexteffects
terminaltexteffects
# Description: Data platform for building AI and RAG pipelines
# URL: https://github.com/lexy-ai/lexy
lexy
# Description: TUI for viewing and tailing multiple log files
# URL: https://github.com/Textualize/toolong
toolong
# Description: TUI for viewing merged logs
# URL: https://github.com/ptmcg/logmerger
logmerger
# Description: Terminal-based bulk file renamer with a TUI
# URL: https://github.com/andrianllmm/renux
renux
# Description: TUI for managing Docker and Podman containers
# URL: https://github.com/TomasTomecek/sen
sen
{{ if ne .isWork true }}
# Description: CLI Bluetooth Low Energy explorer
# URL: https://github.com/koenvervloesem/humble-explorer
humble-explorer
# Description: A customizable task manager in the terminal
# URL: https://github.com/Zaloog/kanban-tui
kanban-tui
{{ end -}}
