# Description: CLI to update globally installed Go binaries
# URL: https://github.com/Gelio/go-global-update
github.com/Gelio/go-global-update
{{ if ne .isWork true }}
# Description: Minimalist terminal torrent client and streamer
# URL: https://github.com/subwaycookiecrunch/zentorrent
github.com/subwaycookiecrunch/zentorrent
{{ end -}}
