# Dependency

brew "icu4c"

# Core

{{ if ne .isWork true -}}
brew "colima"
brew "circumflex"
brew "bfg"
tap "piqoni/cast-text"
brew "cast-text"
brew "composer"
brew "djvu2pdf"
brew "sniffnet"
brew "sox"
brew "yt-dlp"
{{ end -}}

# Charmbracelet
tap "charmbracelet/tap"
brew "crush"
brew "charmbracelet/tap/freeze"
brew "glow"
brew "gum"
brew "charmbracelet/tap/markscribe"
brew "charmbracelet/tap/mods"
brew "sequin"
brew "vhs"

# General
brew "asdf"
brew "asitop"
brew "ast-grep"
brew "automake"
brew "bash"
brew "bat"
brew "btop"
brew "chafa"
brew "choose-rust"
brew "cmake"
brew "coreutils"
brew "cpulimit"
brew "crush"
brew "diskonaut"
brew "dust"
brew "duti"
brew "dutree"
tap "eddieantonio/eddieantonio"
brew "eddieantonio/eddieantonio/imgcat"
brew "erdtree"
brew "f2"
brew "fd"
brew "fdupes"
brew "fileicon"
brew "findutils"
brew "fish"
brew "fish-lsp"
brew "fx"
brew "fzf"
brew "gawk"
brew "gh"
brew "git"
brew "git-absorb"
brew "git-cal"
brew "git-delta"
brew "git-extras"
brew "git-lfs"
brew "git-number"
brew "git-quick-stats"
brew "git-sizer"
brew "git-tools"
brew "git-url-sub"
brew "git-when-merged"
brew "git-who"
brew "git-xargs"
brew "gitleaks"
brew "gnu-sed"
brew "gpgme"
brew "gping"
brew "graphicsmagick"
brew "hexyl"
brew "htmlq"
brew "htop"
brew "httpie"
brew "hyperfine"
brew "ijq"
brew "imagemagick"
brew "jc"
brew "jless"
brew "jq"
brew "killport"
brew "lazydocker"
brew "lazygit", args: ["HEAD"]
brew "lazyjournal"
brew "lsd"
brew "magic-wormhole"
brew "man-db"
brew "mpv"
brew "navi"
brew "ncdu"
brew "neovim"
tap "noahgorstein/tap"
brew "noahgorstein/tap/jqp"
brew "nushell"
tap "nutcracker/tap"
brew "openssl"
brew "pandoc"
brew "parallel"
brew "pass"
tap "potatolabs/git-redate"
brew "potatolabs/git-redate/git-redate"
brew "presenterm"
brew "pstree"
brew "ripgrep-all"
brew "rlwrap"
tap "rcmdnk/file"
brew "rcmdnk/file/brew-file"
brew "serpl"
brew "starship"
brew "tcl-tk"
brew "tealdeer"
brew "tig"
brew "tmux"
brew "tokei"
brew "tree"
brew "trufflehog"
brew "universal-ctags"
brew "uv"
tap "ilijamt/tap"
brew "vht"
brew "watch"
brew "watchexec"
brew "wget"
brew "wush"
brew "yazi"
brew "youplot"
brew "yq"
brew "zellij"
brew "zoxide"

{{ if ne .isWork true -}}
cask "anydesk"
cask "arc"
cask "brave-browser"
cask "chromedriver"
cask "cloudflare-warp"
cask "discord"
cask "fluent-reader"
cask "google-chrome"
cask "google-drive"
cask "grandperspective"
cask "jordanbaird-ice"
cask "mullvad-vpn"
cask "obs"
cask "raindropio"
cask "remember-the-milk"
cask "slack"
cask "telegram"
cask "vlc"
cask "wezterm"
cask "whatsapp"
cask "wpsoffice"
{{ end -}}
cask "1password-cli"
cask "alfred"
cask "appcleaner"
cask "blockblock"
cask "bruno"
cask "dangerzone"
cask "docker-desktop"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-hack-nerd-font"
cask "font-jetbrains-mono-nerd-font"
cask "font-symbols-only-nerd-font"
cask "gcloud-cli"
cask "ghostty"
cask "hammerspoon"
cask "karabiner-elements"
cask "knockknock"
cask "lulu"
cask "ollama-app"
cask "oversight"
cask "reikey"
cask "shottr"
cask "sloth"
cask "warp"
cask "wezterm"
