# Description: Terminal UI for editing Markdown tables with Vim-like controls
# URL: https://github.com/szktkfm/mdtt
mdtt szktkfm/mdtt
# Description: DNS propagation checker with script-friendly output
# URL: https://github.com/unfrl/dug
dug unfrl/dug
{{- if ne .isWork true }}
# Description: Username enumeration tool across social networks
# URL: https://github.com/TheYahya/enola
enola TheYahya/enola
{{- end }}
