#!/usr/bin/env fish

echo "---------------------------------------"
echo "brew install from Brewfile: applying..."
echo "---------------------------------------"

# Brewfile hash: {{ includeTemplate "brews/_assemble.brewfile" . | sha256sum }}
brew bundle cleanup --global --force
brew bundle --global --no-upgrade

echo "---------------------------------"
echo "brew install from Brewfile: done "
echo "---------------------------------"
