#!{{ lookPath "bash" }}

set -euo pipefail

# This script installs the ytsurf package manually.

mkdir -p ~/.local/bin
curl -o ~/.local/bin/ytsurf https://raw.githubusercontent.com/kapral18/ytsurf/patch-1/ytsurf.sh
chmod +x ~/.local/bin/ytsurf
