#!/usr/bin/env bash

set -euo pipefail

# This script will be re-run whenever the contents of icon_mapping.yaml change
# {{ include "app_icons/icon_mapping.yaml" | sha256sum }}

{{ joinPath .chezmoi.homeDir "bin" ",apply-app-icons" | quote }}
