#!{{ lookPath "bash" }}

set -eou pipefail

echo "--------------------------------"
echo "osx system settings: applying..."
echo "--------------------------------"
if [[ ! -x "$(command -v brew)" ]]; then
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
echo "-------------------------"
echo "osx system settings: done"
echo "-------------------------"

echo ""
