#!{{ lookPath "fish" }}

echo "---------------------------------------"
echo "brew install from Brewfile: applying..."
echo "---------------------------------------"

echo '
{{ template "Brewfile" . }}
' | brew bundle --no-lock --file=-

echo "---------------------------------"
echo "brew install from Brewfile: done "
echo "---------------------------------"


# store an array in fish

set -l cargo_install_packages \
    ast-grep \
    bandwhich \
    cargo-update \
    cargo-watch \
    diskonaut \
    git-brws \
    grcov \
    hackernews_tui \
    lemmeknow \
    oatmeal \
    presenterm \
    tdf \
    tokei \
    trippy \
    viu

for package in $cargo_install_packages
    if command -v $package &> /dev/null
        echo "--------------------------------------------"
        echo "cargo package: $package is already installed"
        echo "--------------------------------------------"
    else 
        echo "-----------------------------------"
        echo "cargo install $package: applying..."
        echo "-----------------------------------"
        if test $package = "tdf"
            cargo install --git https://github.com/itsjunetime/tdf
        else
            cargo install $package --locked
        end
        echo "----------------------------"
        echo "cargo install $package: done"
        echo "----------------------------"
    end
end

# check if bun is installed

if command -v bun &> /dev/null
    echo "------------------------"
    echo "bun is already installed"
    echo "------------------------"
else 
    echo "------------------------"
    echo "install bun: applying..."
    echo "------------------------"
    curl -fsSL https://bun.sh/install | bash
    echo "------------------------"
    echo "install bun: done"
    echo "------------------------"
end

echo ""

# install gh extensions

# check if logged in or not, if not login
if gh auth status | grep -q "Logged in to github.com"
    echo "---------------------------------"
    echo "gh is already logged in"
    echo "---------------------------------"
else 
    echo "---------------------------------"
    echo "gh login: applying..."
    echo "---------------------------------"
    gh auth login
    echo "---------------------------------"
    echo "gh login: done"
    echo "---------------------------------"
end

set -l gh_extensions \
    github/gh-copilot \
    MohamedElashri/gh-cp \
    dlvhdr/gh-dash \
    gennaro-tedesco/gh-i \
    gennaro-tedesco/gh-s

# install exts one by one
for gh_extension in $gh_extensions
    if gh extension list | grep -q $gh_extension
        echo "--------------------------------------------"
        echo "gh extension: $gh_extension is already installed"
        echo "--------------------------------------------"
    else 
        echo "-----------------------------------"
        echo "gh extension $gh_extension: applying..."
        echo "-----------------------------------"
        gh extension install $gh_extension
        echo "----------------------------"
        echo "gh extension $gh_extension: done"
        echo "----------------------------"
    end
end


