#!{{ lookPath "bash" }}

set -eou pipefail

echo "--------------------------------"
echo "osx system settings: applying..."
echo "--------------------------------"
# OSX hash: {{ joinPath .chezmoi.sourceDir "dot_osx.system" | include | sha256sum }}
sudo bash $HOME/.osx.system
echo "-------------------------"
echo "osx system settings: done"
echo "-------------------------"

echo ""
