#!{{ lookPath "fish" }}

echo "---------------------------------------"
echo "brew install from Brewfile: applying..."
echo "---------------------------------------"

echo '
{{ template "Brewfile" . }}
' | brew bundle --no-lock --file=-

echo "---------------------------------------"
echo "brew install from Brewfile: done"
echo "---------------------------------------"

echo "---------------------------------------"
echo "cargo install: applying..."
echo "---------------------------------------"

cargo install ast-grep bandwhich cargo-update cargo-watch diskonaut git-brws hackernews_tui lemmeknow oatmeal tokei trippy viu

echo "---------------------------------------"
echo "cargo install: done"
echo "---------------------------------------"

echo ""


