#!{{ lookPath "fish" }}

echo "---------------------------------------"
echo "brew install from Brewfile: applying..."
echo "---------------------------------------"

echo '
{{ template "Brewfile" . }}
' | brew bundle --no-lock --file=-

echo "---------------------------------"
echo "brew install from Brewfile: done "
echo "---------------------------------"


# store an array in fish

set -l \
    cargo_install_packages \
    ast-grep \
    bandwhich \
    cargo-update \
    cargo-watch \
    diskonaut \
    git-brws \
    grcov \
    hackernews_tui \
    lemmeknow \
    oatmeal \
    presenterm \
    tdf \
    tokei \
    trippy \
    viu

for package in $cargo_install_packages
    if command -v $package &> /dev/null
        echo "--------------------------------------------"
        echo "cargo package: $package is already installed"
        echo "--------------------------------------------"
    else 
        echo "-----------------------------------"
        echo "cargo install $package: applying..."
        echo "-----------------------------------"
        if test $package = "tdf"
            cargo install --git https://github.com/itsjunetime/tdf
        else
            cargo install $package --locked
        end
        echo "----------------------------"
        echo "cargo install $package: done"
        echo "----------------------------"
    end
end

# check if bun is installed

if command -v bun &> /dev/null
    echo "------------------------"
    echo "bun is already installed"
    echo "------------------------"
else 
    echo "------------------------"
    echo "install bun: applying..."
    echo "------------------------"
    curl -fsSL https://bun.sh/install | bash
    echo "------------------------"
    echo "install bun: done"
    echo "------------------------"
end

echo ""


