#!{{ lookPath "bash" }}

set -eou pipefail

echo "------------------------------"
echo "osx settings: applying..."
echo "------------------------------"
# OSX hash: {{ joinPath .chezmoi.sourceDir "dot_osx" | include | sha256sum }}
sudo bash $HOME/.osx
echo "-----------------------"
echo "osx settings: done"
echo "-----------------------"

echo ""
