#!{{ lookPath "fish" }}

set -l cargo_install_packages \
    ast-grep \
    bandwhich \
    cargo-update \
    cargo-watch \
    diskonaut \
    git-brws \
    hackernews_tui \
    lowfi \
    oatmeal \
    presenterm \
    tokei \
    trippy \
    viu

for package in $cargo_install_packages
    if command -v $package &> /dev/null
        echo "--------------------------------------------"
        echo "cargo package: $package is already installed"
        echo "--------------------------------------------"
    else 
        echo "-----------------------------------"
        echo "cargo install $package: applying..."
        echo "-----------------------------------"
        cargo install $package --locked
        echo "----------------------------"
        echo "cargo install $package: done"
        echo "----------------------------"
    end
end
