#!/usr/bin/env bash

set -euo pipefail

# Track runtime manager config changes
# {{ include "dot_config/mise/config.toml.tmpl" | sha256sum }}

# This script installs yarn packages from the default-yarn-pkgs file
# {{ include "readonly_dot_default-yarn-pkgs" | sha256sum }}

{{ joinPath .chezmoi.homeDir "bin" ",install-yarn-pkgs" | quote }}
