#!{{ lookPath "bash" }}

set -eou pipefail

# adapted from https://github.com/dNitza/dotfiles/blob/d75164b637713b91ee4f1b3d33f27dfa1d7bf748/.chezmoiscripts/run_once_00_install-xcode-devtools.sh.tmpl
echo "-------------------------------------------"
echo "xcode command line tools setup: applying..."
echo "-------------------------------------------"

echo "===> Installing Xcode Command Line Tools"

CLT_PACKAGE=$(softwareupdate --list \
  | grep -B 1 "Command Line Tools" \
  | awk -F"*" '/^ *\*/ {print $2}' \
  | sed -e 's/^ *Label: //' -e 's/^ *//' \
  | sort -V \
  | tail -n1)
sudo softwareupdate --install "$CLT_PACKAGE"

sudo xcode-select --install

# Accept T&Cs
sudo xcodebuild -license accept

echo "------------------------------------"
echo "xcode command line tools setup: done"
echo "------------------------------------"

echo ""
