#!/usr/bin/env bash

set -euo pipefail

# Track general asdf plugins and tool versions changes
# {{ include "readonly_dot_tool-versions.tmpl" | sha256sum }}
# {{ include "asdf_plugins.tmpl" | sha256sum }}

# This script installs yarn packages from the default-yarn-pkgs file
# {{ include "readonly_dot_default-yarn-pkgs" | sha256sum }}

{{ joinPath .chezmoi.homeDir "bin" ",install-yarn-pkgs" | quote }}
