#!{{ lookPath "fish" }}

echo "---------------------------------------"
echo "brew install from Brewfile: applying..."
echo "---------------------------------------"

# Brewfile hash: {{ include "dot_Brewfile.tmpl" | sha256sum }}
brew bundle --global

echo "---------------------------------"
echo "brew install from Brewfile: done "
echo "---------------------------------"
