{
    NSNavLastRootDirectory = "~/.local/share/chezmoi/home";
    NSNavPanelExpandedSizeForOpenMode = "{800, 520}";
    "NSSplitView Subview Frames NSColorPanelSplitView" =     (
        "0.000000, 0.000000, 224.000000, 258.000000, NO, NO",
        "0.000000, 259.000000, 224.000000, 48.000000, NO, NO"
    );
    "NSToolbar Configuration com.apple.NSColorPanel" =     {
        "TB Is Shown" = 1;
    };
    "NSWindow Frame NSColorPanel" = "0 81 224 278 0 0 1496 933 ";
    "NSWindow Frame NSNavPanelAutosaveName" = "348 207 800 520 0 0 1496 933 ";
    "NSWindow Frame alfredprefswindow" = "0 38 1496 895 0 0 1496 933 ";
    "automationtasks.lastNotified" = 729258952;
    build = 2195;
    catalinaCacheChecked = 1;
    lastFeature = defaultresults;
    lastFeatureTS = 729993551;
    lastTab = advanced;
    lastTabBuild = 2195;
    syncfolder = "~/.local/share/chezmoi/home";
    themeEditorBackground = "Sonoma.heic";
    "workflowpalette.expansion" =     {
        actions = 0;
        automations = 0;
        inputs = 0;
        outputs = 0;
        "palette.gettingstarted" = 0;
        "section.favourites" = 0;
        "section.prefabs" = 0;
        triggers = 1;
        utilities = 0;
    };
    "workflowpalette.hidden" = 0;
}
