<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>subreddits</key>
	<string>100yearsago
117thOSINT
algorithms
ArtefactPorn
ArtisanVideos
Automate
BeginnerWoodWorking
bestof
confessions
coolgithubprojects
coolguides
corporatekoolaid
craftofintelligence
crafts
CredibleDefense
CreditCards
daddit
debtfree
DeepIntoYouTube
DiWHY
DIY
diyelectronics
Documentaries
EconomicHistory
educationalgifs
europe
europes
explainlikeimfive
financialindependence
forhire
FullLengthFilms
FullSciFiMovies
Futurology
gadgets
gaming
gardening
geldzaken
hacking
handmade
handtools
hbo
HistoryMemes
homeautomation
HomeImprovement
howto
html5
IAmA
interestingasfuck
InternetIsBeautiful
IWantOut
javascript
juridischadvies
learnjavascript
learnwebdev
LessCredibleDefence
liberta
LifeHack_Pro
lifehacks
LifeProTips
macapps
MadeMeSmile
malelivingspace
mealtimevideos
MensRights
MovieSuggestions
N_N_N
neovim
NetflixBestOf
Netherlands
news
nextfuckinglevel
nottheonion
OldSchoolCool
opendirectories
opensource
OSINT
Parenting
Perfectfit
personalfinance
PolySwarm
povertyfinance
PrivacySecurityOSINT
Pyrography
science
SEO
Shortfilms
sidehustle
SideProject
somethingimade
suggestmeabook
Telegram
TelegramBots
TheDepthsBelow
thenetherlands
TheWayWeWere
todayilearned
trippinthroughtime
underrateddestination
underratedmovies
Unexpected
UpliftingNews
WebApps
webgl
Whatcouldgowrong
Woodcarving
woodworking
WorkOnline
worldnews
wow
YouShouldKnow
youtubehaiku
zaandam</string>
</dict>
</plist>
