prSections:
  - title: "Work PRs - Review (Team: kibana-management)"
    filters: is:open is:pr review-requested:@me team-review-requested:elastic/kibana-management org:elastic -is:draft -author:@me
  - title: "Work PRs - Mine"
    filters: is:open is:pr author:kapral18 org:elastic
    layout:
      author:
        hidden: true
  - title: Work PRs - Involves Me
    filters: is:open is:pr involves:@me org:elastic -author:kapral18 -is:draft -review-requested:kapral18 -team-review-requested:elastic/kibana-management

  - title: Home PRs - Review (Me)
    filters: is:open is:pr review-requested:kapral18 -org:elastic -is:draft -reviewed-by:kapral18 -author:kapral18
  - title: Home PRs - Mine (Ready)
    filters: is:open is:pr author:kapral18 -org:elastic
    layout:
      author:
        hidden: true
  - title: Home PRs - Involves Me
    filters: is:open is:pr involves:@me -org:elastic -author:kapral18 -is:draft -review-requested:kapral18
issuesSections:
  - title: Work Issues - Assigned
    filters: is:open is:issue assignee:@me org:elastic
  - title: Work Issues - Mentioned
    filters: is:open is:issue mentions:@me org:elastic
  - title: Work Issues - Involves Me
    filters: is:open is:issue involves:@me org:elastic -assignee:@me -mentions:@me -author:@me
  - title: Work Issues - Created
    filters: is:open is:issue author:@me org:elastic
    layout:
      author:
        hidden: true

  - title: Home Issues - Assigned
    filters: is:open is:issue assignee:@me -org:elastic
  - title: Home Issues - Mentioned
    filters: is:open is:issue mentions:@me -org:elastic
  - title: Home Issues - Involves Me
    filters: is:open is:issue involves:@me -org:elastic -assignee:@me -mentions:@me -author:@me
  - title: Home Issues - Created
    filters: is:open is:issue author:@me -org:elastic
    layout:
      author:
        hidden: true
smartFilteringAtLaunch: false
defaults:
  preview:
    open: true
    width: 50
  prsLimit: 30
  issuesLimit: 30
  view: prs
  layout:
    prs:
      updatedAt:
        width: 7
      repo:
        width: 15
      author:
        width: 15
      assignees:
        width: 20
        hidden: true
      base:
        width: 15
        hidden: true
      lines:
        width: 16
    issues:
      updatedAt:
        width: 7
      repo:
        width: 15
      creator:
        width: 10
      assignees:
        width: 20
        hidden: true
  refetchIntervalMinutes: 30
repoPaths:
  :owner/:repo: ~/code/github.com/:owner/:repo
theme:
  ui:
    table:
      showSeparator: true
      compact: false
confirmQuit: false
